.footer {
  background-color: rgb(0, 51, 0);
  color: rgb(39, 170, 39);
  padding: 20px;
  text-align: center;

  .container {
    img {
      height: 32px;
      border: rgb(39, 170, 39) solid 2px;
    }
  }

  a {
  color: rgb(39, 170, 39);
  }

  a:hover {
    color: $limeGreen;
    transition: 150ms ease-in-out;
  }

  &__links {
    line-height: 0;
  }

  &__social {
    a {
      display: inline-block;

      svg path {
        transition: fill 150ms ease-in-out;
      }

      &:hover svg path {
        fill: $limeGreen;
      }
    }
  }
}