@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Julius+Sans+One&family=Tangerine:wght@700&display=swap');

#map {
    background-size: contain;
    width: auto;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url('../../images/mapofevents.png');
}

h3 {
    color: $white;
    font-family: 'Julius Sans One',
        sans-serif;
}

#map_border {
    text-align: center;
    margin-left: 50%;
    transform:translateX(-50%);
}