.story {
    margin: 20px 20px 20px 20px !important;
    padding: 30px !important;
    border: $primary solid 3px !important;
    background-color: rgb(176, 218, 187) !important;

    h1 {
        color: rgb(24, 82, 21) !important;
    }

    p {
        color: rgb(24, 82, 21) !important;
    }

    p.indent {
        text-indent: 30px !important;
    }
}