.story {
    margin: 20px 20px 20px 20px;
    padding: 30px;
    border: $primary solid 3px;
    background-color: rgb(176, 218, 187);

    h1 {
        color: rgb(24, 82, 21)
    }

    p {
        color: rgb(24, 82, 21);
    }

    p.indent {
        text-indent: 30px;
    }
}