

.registry, #registry {
  background-color: $sageGreen !important;
  text-align: left !important;
  color: $forestGreen !important;

  &__item {
    display: grid !important;
    grid-template-columns: 50% auto !important;
    grid-template-rows: 100% !important;
    border-radius: 0.3125rem !important;
    overflow: hidden !important;
    background-color: $white !important;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15) !important;
    transition: all 150ms ease-in-out !important;
    padding: 5px !important;
    border: $forestGreen 1px solid !important;

    &:hover {
      transform: scale(1.05) !important;
    }
  }

  &__image {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    grid-row-start: 1 !important;
    grid-row-end: 2 !important;
    align-self: center !important;
    height: 100% !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;

    @media screen and (max-width: 600px) {
      height: 25%;
    }
  }

  &__text {
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }



  &__title {
    font-size: 1.4rem;
    line-height: 1.2;
    color: $forestGreen;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 1rem;
  }
}