

.registry {
  background-color: $sageGreen;
  text-align: left;
  color: $forestGreen;

  &__item {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 100%;
    border-radius: 0.3125rem;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;
    padding: 5px;
    border: $forestGreen 1px solid;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    height: 100%;
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (max-width: 600px) {
      height: 25%;
    }
  }

  &__text {
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    color: $grayishBlue;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }



  &__title {
    font-size: 1.4rem;
    line-height: 1.2;
    color: $forestGreen;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 1rem;
  }
}