@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Julius+Sans+One&family=Tangerine:wght@700&display=swap');

.header {
  background-color: rgb(0, 44, 0);

  a {
    text-decoration: none;
  }
}

h1 {
  font-family: 'Tangerine',
    cursive;
}


.rsvp_body {
  font-family: 'Times New Roman',
    Times,
    serif;
  color: rgb(0, 116, 0);
  max-width: 325px;
  margin: 20px;
  padding: 20px;
  border: rgb(0, 116, 0) 2px solid;
  background-color: rgb(213, 231, 217);

  h1 {
    color: rgb(0, 44, 0);
    font-size: 4rem;

  }
}

.rsvp_form {
  .form-group {
    margin-bottom: 1.5em;
    transition: all .3s;
  }

  .form-label {
    color: rgb(0, 109, 0);
    transition: all .3s;
    transform: translateX(-50px);
  }



  .form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    transition: all .6s;
  }

  .form-control::placeholder {
    color: #aaa;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
  }

  .form-group:focus-within {
    transform: scale(1.1, 1.1);
  }

  .form-control:invalid:focus {
    border-color: red;
  }

  .form-control:valid:focus {
    border-color: green;
  }

  .btn {
    background: 0 0 rgb(173, 214, 182);
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    padding: 10 50px;
  }

  .btn:hover {
    border-color: var(--font-hover-color);
    color: var(--font-hover-color);
  }

  textarea {
    resize: none;
  }

  .focused>.form-label {
    opacity: 1;
    transform: translateX(0px);

  }

  .form-invalid {
    outline: 2px solid red !important
  }
}

.covid_message {
    color: #fff;
    padding: 20px;
}

