@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Julius+Sans+One&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Julius+Sans+One&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Julius+Sans+One&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Julius+Sans+One&family=Tangerine:wght@700&display=swap");
.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.schedules {
  background-color: #fff5f5;
}

.schedules h2 {
  color: #1a6b0a;
}

.schedules a {
  text-decoration: none;
}

.schedule__grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1.875rem;
}

.schedule__item {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100%;
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}

.schedule__item:hover {
  transform: scale(1.05);
}

.schedule__image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 10px;
  border: black solid 1px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .schedule__image {
    height: 50%;
  }
}

.schedule__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #9698a6;
}

@media (min-width: 40em) {
  .schedule__text {
    padding: 1.875rem 1.5625rem;
  }
}

.schedule__date {
  font-size: 1.1rem;
  color: #1a6b0a;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 600px) {
  .schedule__date {
    font-size: 0.8rem;
  }
}

.schedule__title {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #1a6b0a;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .schedule__title {
    font-size: 1.0rem;
  }
}

.schedule__description {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .schedule__description {
    font-size: 0.7rem;
  }
}

#wedding_invitation {
  color: white;
  font-size: 4.0rem;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

#wedding_invitation .countdown_content {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50%;
}

#wedding_invitation big {
  font-size: 125%;
}

#wedding_invitation p {
  font-size: 75%;
}

@media screen and (max-width: 1280px) {
  #wedding_invitation {
    font-size: 3.7rem;
  }
}

@media screen and (max-width: 1124px) {
  #wedding_invitation {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 1024px) {
  #wedding_invitation {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 900px) {
  #wedding_invitation {
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 850px) {
  #wedding_invitation {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 768px) {
  #wedding_invitation {
    font-size: 1.79rem;
  }
}

@media screen and (max-width: 600px) {
  #wedding_invitation {
    font-size: 1.4rem;
  }
}
#story {
  margin: 20px 20px 20px 20px !important;
  padding: 30px !important;
  border: #a8c680 solid 3px !important;
  background-color: #c4e1cc !important;
  color: #185215 !important;
}

#story p.indent {
  text-indent: 30px !important;
}

.header {
  background-color: #002c00;
}

.header a {
  text-decoration: none;
}

h1 {
  font-family: 'Tangerine', cursive;
}

.rsvp_body {
  font-family: 'Times New Roman', Times, serif;
  color: #007400;
  max-width: 325px;
  margin: 20px;
  padding: 20px;
  border: #007400 2px solid;
  background-color: #d5e7d9;
}

.rsvp_body h1 {
  color: #002c00;
  font-size: 4rem;
}

.rsvp_form .form-group {
  margin-bottom: 1.5em;
  transition: all .3s;
}

.rsvp_form .form-label {
  color: #006d00;
  transition: all .3s;
  transform: translateX(-50px);
}

.rsvp_form .form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  width: 100%;
  transition: all .6s;
}

.rsvp_form .form-control::placeholder {
  color: #aaa;
}

.rsvp_form .form-control:focus {
  box-shadow: none;
  border-color: var(--font-hover-color);
  outline: none;
}

.rsvp_form .form-group:focus-within {
  transform: scale(1.1, 1.1);
}

.rsvp_form .form-control:invalid:focus {
  border-color: red;
}

.rsvp_form .form-control:valid:focus {
  border-color: green;
}

.rsvp_form .btn {
  background: 0 0 #add6b6;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: var(--font-color);
  padding: 10 50px;
}

.rsvp_form .btn:hover {
  border-color: var(--font-hover-color);
  color: var(--font-hover-color);
}

.rsvp_form textarea {
  resize: none;
}

.rsvp_form .focused > .form-label {
  opacity: 1;
  transform: translateX(0px);
}

.rsvp_form .form-invalid {
  outline: 2px solid red !important;
}

.covid_message {
  color: #fff;
  padding: 20px;
}

.gallery {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

.gallery__solo {
  margin: 2px;
  overflow: hidden;
}

.gallery__image {
  width: 100% !important;
  height: auto !important;
  transition: .3s;
}

.gallery__image:hover {
  transform: scale(1.1);
}

.vendors {
  background-color: #fff5f5;
}

.vendors h2 {
  color: #1a6b0a;
}

.vendors a {
  text-decoration: none;
}

.vendor__grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1.875rem;
}

.vendor__item {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100%;
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}

.vendor__item:hover {
  transform: scale(1.05);
}

.vendor__image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.vendor__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #9698a6;
}

@media (min-width: 40em) {
  .vendor__text {
    padding: 1.875rem 1.5625rem;
  }
}

.vendor__title {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #1a6b0a;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .vendor__title {
    font-size: 1.0rem;
  }
}

.vendor__description {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .vendor__description {
    font-size: 0.7rem;
  }
}

.vendors {
  background-color: #fff5f5;
}

.vendors h2 {
  color: #1a6b0a;
}

.vendors a {
  text-decoration: none;
}

.vendor__grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1.875rem;
}

.vendor__item {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100%;
  border-radius: 0.3125rem;
  overflow: hidden;
  min-height: 200px;
  background-color: white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}

.vendor__item:hover {
  transform: scale(1.05);
}

.vendor__image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

.vendor__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #9698a6;
}

@media (min-width: 40em) {
  .vendor__text {
    padding: 1.875rem 1.5625rem;
  }
}

.vendor__title {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #1a6b0a;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .vendor__title {
    font-size: 1.0rem;
  }
}

.vendor__description {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .vendor__description {
    font-size: 0.7rem;
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #9698a6;
  line-height: 1.3;
  overflow-x: hidden;
  background-color: #004600;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  color: #1a6b0a;
  margin-top: 0px;
}

h1 {
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 1.375rem;
  padding-right: 1.5rem;
  padding-bottom: 1.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.container--py {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 1.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 3rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 1.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 3rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

button,
.button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-image: linear-gradient(to right, #c1dc8f, #1a6b0a);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}

button::before,
.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

button:hover::before,
.button:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

:any-link {
  color: white;
}

.header {
  position: relative;
  z-index: 2;
}

.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(#c1dc8f, transparent);
}

.header nav {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  color: white;
  left: 50%;
}

.header nav .header__links {
  width: 100%;
}

.header nav .header__links a {
  padding: 0 4% 0 0;
  font-size: 100%;
}

.header__logo img {
  width: 8.5rem;
  height: 4.5rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: white;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #1a6b0a;
  text-align: center;
  text-decoration: none;
}

.header__menu__links a {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: color 300ms ease-in-out;
}

.header__menu__links a:not(:last-child) {
  margin-right: 32px;
}

.header__menu__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, #c1dc8f, #1a6b0a);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.header__menu__links a:hover {
  color: #1a6b0a;
}

.header__menu__links a:hover::before {
  opacity: 1;
}

#slider,
.hero,
.slide-content {
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
}

#slider .hero_text,
#slider #wedding_invitation,
#slider h1,
.hero .hero_text,
.hero #wedding_invitation,
.hero h1,
.slide-content .hero_text,
.slide-content #wedding_invitation,
.slide-content h1 {
  font-family: 'Tangerine', cursive;
}

#slider p,
#slider .form-label,
#slider .form-control,
#slider .radio,
.hero p,
.hero .form-label,
.hero .form-control,
.hero .radio,
.slide-content p,
.slide-content .form-label,
.slide-content .form-control,
.slide-content .radio {
  font-family: 'Times New Roman', Times, serif;
  font-size: 120%;
  color: #007400;
}

#slider .countdown_content p,
.hero .countdown_content p,
.slide-content .countdown_content p {
  color: white;
  font-family: 'Julius Sans One', sans-serif;
}

#slider .btn,
.hero .btn,
.slide-content .btn {
  font-size: 150%;
  color: #19491d;
}

.hero {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("../../images/hero/ellen-eric-engagement-107.jpg");
}

.slide2 {
  background-image: url("../../images/hero/ellen-eric-engagement-teasers-6.jpg");
}

.slide3 {
  background-image: url("../../images/hero/ellen-eric-engagement-50.jpg");
}

.slide4 {
  background-image: url("../../images/hero/ellen-eric-engagement-72.jpg");
}

.slide5 {
  background-image: url("../../images/hero/ellen-eric-engagement-119.jpg");
}

.slide-content {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 25% auto;
  margin-left: 20px;
  margin-right: 20px;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.form-control::placeholder {
  color: #aaa;
  font-size: 1.0rem;
}

.rsvp_body {
  text-align: center;
  padding-left: 50px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  width: 100%;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

#wedding_invitation {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#wedding_invitation .invitation_border {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 8;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 10px;
  padding-right: 20px;
}

@media (max-width: 800px) {
  #wedding_invitation {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  #wedding_invitation {
    font-size: 1.5rem;
  }
}

.hero_text {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.hero_text #hero_EE {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-self: start;
  font-size: 5rem;
}

@media (max-width: 800px) {
  .hero_text #hero_EE {
    font-size: 4rem;
  }
}

@media (max-width: 400px) {
  .hero_text #hero_EE {
    font-size: 3rem;
  }
}

.hero_text #hero_msg {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
  text-align: left;
  font-size: 3rem;
}

@media (max-width: 800px) {
  .hero_text #hero_msg {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .hero_text #hero_msg {
    font-size: 1.25rem;
  }
}

.hero_text #hero_hashtag {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
  text-align: start;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .hero_text #hero_hashtag {
    font-size: 1.25rem;
  }
}

@media (max-width: 400px) {
  .hero_text #hero_hashtag {
    font-size: 1.0rem;
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

.schedules {
  background-color: #fff5f5;
}

.schedules h2 {
  color: #1a6b0a;
}

.schedules a {
  text-decoration: none;
}

.schedule__grid {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1.875rem;
}

.schedule__item {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100%;
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease-in-out;
}

.schedule__item:hover {
  transform: scale(1.05);
}

.schedule__image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 10px;
  border: black solid 1px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .schedule__image {
    height: 50%;
  }
}

.schedule__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #9698a6;
}

@media (min-width: 40em) {
  .schedule__text {
    padding: 1.875rem 1.5625rem;
  }
}

.schedule__date {
  font-size: 1.1rem;
  color: #1a6b0a;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 600px) {
  .schedule__date {
    font-size: 0.8rem;
  }
}

.schedule__title {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #1a6b0a;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .schedule__title {
    font-size: 1.0rem;
  }
}

.schedule__description {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .schedule__description {
    font-size: 0.7rem;
  }
}

.footer {
  background-color: #003300;
  color: #27aa27;
  padding: 20px;
  text-align: center;
}

.footer .container img {
  height: 50px;
  border: #27aa27 solid 2px;
}

.footer a {
  color: #27aa27;
}

.footer a:hover {
  color: #31d35c;
  transition: 150ms ease-in-out;
}

.footer__links {
  line-height: 0;
}

.footer__social a {
  display: inline-block;
}

.footer__social a svg path {
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  fill: #31d35c;
}
/*# sourceMappingURL=style.css.map */